<nav class="header">
    <div class="nav">
        <a href="/" class="logo"><img src="assets/anas_logo.svg" alt="Anas Alhalabi Logo" class="logo-img"></a>
        <ul class="nav-links">
            <li><a href="index.html#home">Home</a></li>
            <li><a href="index.html#services">Services</a></li>
            <li><a href="articles.html">Articles</a></li>
            <li><a href="index-ar.html" class="lang-toggle">العربية</a></li>
        </ul>
        <button class="mobile-menu-btn" id="mobile-menu-btn">☰</button>
    </div>
</nav>
